* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right top, #000000, #240f16, #411325, #601336, #800f48);
    font-family: sans-serif;
}

#gameboy {
    position: relative;
    top: 50px;
    margin: 0px auto;
    height: 400px;
    width: 250px;
    border-radius: 10px 10px 50px 10px;
    background-image: url('../img/gb-textura.png');
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

#gameboy:before {
    position: absolute;
    width: 250px;
    height: 15px;
    border-bottom: 4px solid #A6A8A9;
    content: '';
}

#gameboy:after {
    position: absolute;
    width: 205px;
    height: 15px;
    left: 20px;
    border-left: 4px solid #A6A8A9;
    border-right: 4px solid #A6A8A9;
    content: '';
}

#pantalla {
    position: absolute;
    left: 20px;
    top: 30px;
    width: 210px;
    height: 150px;
    background-color: #545561;
    border-radius: 5px 5px 25px 5px;
    box-shadow: 1px 1px 1px #333;
}

#pantalla:before {
    position: absolute;
    content: 'DOT MATRIX WITH STEREO SOUND';
    color: #888;
    background-color: #545561;
    font-size: 6px;
    top: 7px;
    right: 26px;
    padding: 0 4px;
    z-index: 50;
}

#pantalla-verde {
    position: relative;
    background-color: #475814;
    border: 1px solid black;
    width: 140px;
    height: 110px;
    top: 20px;
    left: 38px;
    box-shadow: 1px 1px 3px black inset;
}

#pantalla-verde:before {
    position: relative;
    content: '______________________';
    top: -29px;
    left: -31px;
    color: #711451;
    z-index: 10;
}

#pantalla-verde:after {
    position: relative;
    content: '______________________';
    top: -26px;
    left: -227px;
    color: #181A57;
    z-index: 10;
}

#nintendo-encendido {
    position: relative;
    width: 140px;
    height: 110px;
    top: -90px;
    left: 39px;
    overflow: hidden;
    text-align: center;

}

#nintendo-logo {
    position: relative;
    top: -28px;
    transition: top 4s ease;
    visibility: hidden;
}

#nintendo-logo-texto {
    font-family: 'pretendo', sans-serif;

}

#gameboy:hover #nintendo-logo {
    top: 50px;
    visibility: visible;
}

#luz {
    position: relative;
    margin: 0 auto;
    height: 5px;
    width: 5px;
    top: -250px;
    left: -90px;
    border-radius: 100%;
    background-color: #600;
    box-shadow: 1px 1px 0 #400 inset;
}

#luz:after {
    position: relative;
    content: 'BATTERY';
    color: #888;
    font-size: 6px;
    right: 6px;
}

#gameboy:hover~#luz {
    background: #f00;
    transition: all 300ms;
}

#texto {
    position: absolute;
    width: 160px;
    height: 40px;
    top: 182px;
    left: 20px;
    font-weight: bold;
    font-size: 8px;
    z-index: 998;
    color: #17207C;
}

#nintendo-texto {
    font-family: 'Pretendo', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 800;
}

#gb-texto {
    font-size: 16px;
    letter-spacing: -1px;
    font-style: italic;
}

#tm-texto {
    font-size: 6px;
    letter-spacing: 1px;
}

#cruceta {
    position: absolute;
    width: 24px;
    height: 65px;
    top: 235px;
    left: 41px;
    background-color: #0B0A16;
    box-shadow: 1px 1px 1px #7D787C;
    border-radius: 3px;
    z-index: 999;
}

#cruceta:before {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 23px;
    left: 2px;
    border-radius: 100%;
    background-color: #666;
    z-index: 1000;
    box-shadow: 0px 2px 7px 3px #0b0a16 inset;
    content: '';
}

#cruceta:after {
    position: absolute;
    width: 65px;
    height: 22px;
    top: 21px;
    left: -21px;
    background-color: #0B0D19;
    border-radius: 3px;
    z-index: 800;
    content: '';
}

#surcos {
    position: absolute;
    width: 40px;
    height: 80px;
    top: 230px;
    left: 168px;
    background-color: #b5b4b2d6;
    border-radius: 18px;
    box-shadow: 0px 1px 1px 0px #aaa9a6fe inset;
    transform: rotate(60deg);
    content: '';
}

#surcos:after {
    position: absolute;
    height: 33px;
    width: 1px;
    top: 53px;
    left: 99px;
    border-radius: 2px;
    background-color: #777;
    transform: rotate(90deg);
    box-shadow: -30px 0px #777, -15px 0px #777, 15px 0px #777, 30px 0px #777, 45px 0px #777;
    content: '';
}

#surcos:before {
    position: absolute;
    height: 40px;
    width: 5px;
    top: 48px;
    left: 100px;
    border-radius: 2px;
    background-color: #B3B3B3;
    transform: rotate(90deg);
    box-shadow: -30px 0px #b3b3b3, -15px 0px #b3b3b3, 15px 0px #b3b3b3, 30px 0px #b3b3b3, 45px 0px #b3b3b3;
    content: '';
}

#boton-circular {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 263px;
    right: 63px;
    border-radius: 100%;
    background-color: #800F48;
    box-shadow: 27px -27px #800F48;
    transform: rotate(16deg);
}

#ba-texto {
    font-family: 'pretendo', sans-serif;
    position: absolute;
    bottom: 104px;
    right: 17px;
    transform: rotate(-32deg);
    letter-spacing: 11px;
    font-size: 9px;
    font-weight: 800;
    color: #17207C;
}

#boton-rectangular {
    position: absolute;
    height: 30px;
    width: 8px;
    bottom: 48px;
    left: 89px;
    background-color: #6E6E77;
    border-radius: 3px;
    transform: rotate(58deg);
    box-shadow: 20px -29px #6E6E77;
}

#boton-rectangular:before {
    position: absolute;
    content: 'SELECT';
    bottom: 9px;
    left: -4px;
    transform: rotate(-90deg);
    font-size: 8px;
    font-weight: 800;
    color: #17207C;
}

#boton-rectangular:after {
    position: absolute;
    content: 'START';
    transform: rotate(-90deg);
    bottom: 39px;
    left: 19px;
    font-size: 8px;
    font-weight: 800;
    color: #17207C;
}